$mainBg: #303a45;
$mainColor: #192430;
$white: #fff;
$oceanColor: #398bf7;
$txtColor: #e6e9ec;
$overlay: #262e37;

$mobile-width: 600px;
$tablet-width: 990px;

$fontSizeNormal: 1rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$fontFamily: 'Montserrat', sans-serif;

$topNavHeight: 3.5rem;
$sidebarWidth: 15rem;
$sidebarHideWidth: 4.5rem;
$spacing: 2rem;
