@use '../scss/abstracts/' as *;

.main {
    padding-top: calc($topNavHeight + 2rem);
    padding-left: $sidebarWidth;
    overflow-x: hidden;

    &__content {
        min-height: 100vh;
        transition: all 0.5s ease-in-out;
    }

    &.hide {
        padding-left: $sidebarHideWidth;
        transition: all 0.5s ease-in-out;
    }

    @include tablet {
        padding-left: 0;

        &.hide {
            padding-left: 0;
            transition: all 0.5s ease-in-out;

            .overlay {
                background-color: $overlay;
                position: fixed;
                top: $topNavHeight;
                left: 0;
                height: 100vh;
                width: 100vw;
                z-index: 1;
                opacity: 0.4;
            }
        }
    }
}
